:root {
    --primary: #d81esd;
    --secondary: #8a4fff;
    --light: #eee;
    --grey: #aaa;
    --dark:#1e2f42;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Times New Roman', serif;
}

body {
    background: var(--light);
}

main {
    padding: 4rem 2rem;
    max-width: 1200px;
}