:root {
    --primary: #d81esd;
    --secondary: #8a4fff;
    --light: #eee;
    --grey: #aaa;
    --dark:#1e2f42;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Times New Roman', sans-serif;
}

body {
    background: var(--light);
}

main {
    padding: 4rem 2rem;
    max-width: 1200px;
}

h1 {
    color: var(--dark);
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1rem;
}