@font-face {
    font-family: 'Neue Haas Grotesk Text Pro';
    src: url('fonts/NeueHaasGroteskTextPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
  }

  